@import 'src/styles/_all';

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.upper-toolbar {
  display: flex;
  justify-content: space-between;
  background: $ds-color-background;
  border-bottom: 0.8px solid #ededed;
}

.page-title {
  font-family: $font-family-sans-serif;
  color: $ds-color-text-regular;
  font-size: 16px;
  font-weight: 600;
}

.title-area {
  display: flex;
  align-items: center;
}

.back-icon {
  margin-right: 10px;
}
