@import 'src/styles/_all';

.bottom-nav {
  display: flex;
  justify-content: space-around;
  background: $ds-color-background;
  position: fixed;
  bottom: 0px;
  border-top: 0.8px solid #ededed;
}

.danskill-btn {
  color: $ds-color-bottom-nav-btn;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.danskill-btn.active {
  color: $ds-color-bottom-nav-btn-active;
}

.bottom-nav-icon {
  position: absolute;
  top: 9px;
}

.bottom-nav-text {
  position: relative;
  top: 15px;
}
