.lab-page {
  &.full {
    .col {
      .lab-tool-player-wrapper {
        height: calc(50% - 17px);
      }
    }
  }

  .lab-row {
    .lab-choose-video-text {
      margin-bottom: 115px;
    }
  }

  .page-title-row {
    //margin-bottom: 15px;
  }

  //TODO: add to general style
  .lab-button {
    border-radius: 50px;
    display: inherit;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
    border: none;
    background-color: $indigo;
    color: white;

    &.start-button {
      height: 100px;
      width: 100px;
      font-weight: 700;
    }

    &.user-button {
      margin-right: 15px;
      margin-top: 15px;
      height: 40px;
      width: 35%;
      font-size: 11px;
    }

  }

  .steps-bar-wrapper {
    //display: flex;
    margin-top: 15px;

    .steps-bar {
      width: 100%;
      display: inline-flex;
      list-style: none;
      padding: 0;

      .steps-bar-item {
        //border: 1px solid;
        width: 33%;
        display: flex;
        text-align: center;
        //position: relative;
        font-size: 11px;
        justify-content: center;
        align-items: baseline;
        line-height: normal;
        color: $gray-500;

        &.active {
          color: $green;

          .step-item-num {
            background-color: $green;
            color: $white;
            font-weight: bold;
          }
        }

        .step-item-num {
          font-size: 11px;
          //border: 1px solid $indigo;
          background-color: $gray-500;
          color: $white;
          border-radius: 50px;
          width: 20px;
          height: 20px;
          //margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;

        }
      }
    }
  }

  //.col {
  //    padding-right: 18px;
  //    padding-left: 18px;
  //}

  .lab-tool-wrapper {
    display: flex;
    flex-direction: column;

    &.fullscreen {
      background-color: $black;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: +2000;
      overflow-y: auto;

      .controls-row {
        .left-side {
          .icon {
            color: $white;
          }
        }

        .right-side {
          color: $white;

          .toggle-switch {
            background: none;
            color: $white;
          }
        }
      }
    }

    .lab-tool-player-wrapper {
      width: 100%;
    }

    .linked-controls {
      position: absolute;
      //bottom: 2px;
      left: 2px;
      z-index: +2;
      width: calc(100% - 4px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: rgba($black, 0.8);
      //top: 100%;
      bottom: 0;


      .speed-controls {
        .btn {
          color: $white;
        }

        .btn-sm {
          padding: 0;
        }

        > span {
          font-size: 0.66rem;
          color: $white;
        }
      }

      .center-controls {
        .icon-btn {
          padding-left: 0.1rem;

          .icon-btn span {
            font-size: 1.1rem;
          }
        }
      }
    }

    .controls-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: transparent;
      height: 40px;
      //border: red 2px solid;

      .left-side {
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
          height: 26px;
          width: auto;
          color: $body-color;
        }
      }

      .right-side {
        height: 34px;
        display: flex;
        //flex-direction: row-reverse;
        align-items: center;

        label {
          display: inline-block;
          margin-bottom: 0.2rem;
          line-height: 1;
        }
      }


      &.linked {
        color: $white;
        background-color: $black;
      }


    }
  }

  .upload-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .toolbox {
      padding: 0 0.5rem;

      h5 {
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.4;
        font-weight: 400;
        margin-bottom: 2rem;
        max-width: 250px;
      }

      .btn {
        // color: $white;
        background: $white;
        width: 12rem;
        text-align: left;
        font-weight: 700;
      }
    }

    &.bg-secondary {
      color: $gray-500;
      pointer-events: none;

      .step-number {
        border-color: $gray-500;
      }

      .toolbox {
        .btn {
          color: $gray-500;
        }
      }
    }
  }
}
