.video-player-control-tool {
  position: absolute;
  display: flex;
  align-items: center;
  height: 50px;
}

.close-video-control {
  margin: 0 8px 0 0;

  & > span {
    width: 26px;
    height: 26px;
  }
}
