.notifications-wrapper {
  //padding-top: 30px;
  .notifications-list {
    .notifications-date {
      // TODO: general css
      font-size: 12px;
      color: #a1a1a1;
      line-height: 18px;
      font-weight: 500;
      margin-bottom: 20px;
      margin-top: 28px;
      padding: 0 18px;
    }
    .notification-item {
      //background: white;
      //box-shadow: 1.5px 1.5px 7px rgba(205, 205, 205, 0.25);
      //border-radius: 5px;
      //margin-bottom: 10px;
      padding: 15px 30px;
      // TODO: color - general css
      color: #343434;
      position: relative;

      &:after {
        content: '';
        height: 1px;
        padding: 0 11px;
        position: absolute;
        bottom: 0;
        background-color: #e6e6e6;
        left: 18px;
        right: 18px;
      }
      &.not-read {
        //padding: 15px 11px 15px 7px;
        // TODO: color - general css
        &:before {
          content: '';
          height: calc(100% - 7px);
          position: absolute;
          //top: 15px;
          //bottom: 15px;
          left: 0;
          width: 4px;
          background-color: #ff5170;
          border-bottom-right-radius: 50px;
          border-top-right-radius: 50px;
        }
        //border-left: #FF5963 4px solid;
      }
      .title {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
      }
      .time {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        color: #a1a1a1;
      }
      .notification-icon {
        position: relative;
        margin-right: 10px;
      }
    }
  }
}
