@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webapp-primary: mat-palette($mat-indigo);
$webapp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webapp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$webapp-theme: mat-light-theme($webapp-primary, $webapp-accent, $webapp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($webapp-theme);

/* units */
@import 'styles/units';

/* palette */
@import 'styles/palette';

/* fonts */
@import 'styles/icon-font/danskill_icons';

/* Bootstrap imports */
@import 'styles/bootstrap-variables';
@import '~bootstrap/scss/bootstrap.scss';

/* OWL Carousel imports */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/*Custom variables*/
@import 'styles/variables';

/*Custom mixins*/
@import 'styles/mixins';

/*global stylings */
@import 'styles/global_styles';
@import 'styles/bootstrap-overrides';

/* custom pages stylings */
@import 'styles/pages/global-inner-pages';
@import 'styles/pages/login';
@import 'styles/pages/404';
@import 'styles/pages/lab';

/* custom elements stylings */
@import 'styles/elements/alert';
@import 'styles/elements/bg-process';
@import 'styles/elements/btn-round';
@import 'styles/elements/header';
@import 'styles/elements/navigation';
@import 'styles/elements/preloader';
@import 'styles/elements/player';
@import 'styles/elements/tags';
@import 'styles/elements/logo';
@import 'styles/elements/icon-btns';
@import 'styles/elements/step-number';
@import 'styles/elements/toggle-switch';
@import 'styles/elements/round-progressbar';
@import 'styles/elements/modals';

/* custom pages stylings */
@import 'styles/pages/login';
@import 'styles/pages/404';

/* student pages */
@import 'styles/student/upic-holder';

/* star pages */
@import 'styles/star/star-info';
@import 'styles/star/dance-figures';
@import 'styles/star/star-content-list';
@import 'styles/star/star-figure-wrapper';

/* practices pages */
@import 'styles/pages/practices';
@import 'styles/practice/practice-item';

/* swiper */
@import '~swiper/swiper-bundle';

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
