.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .initials {
    color: #343434;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2625px;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  padding-top: 15px;
}

.user-name {
  display: flex;
  color: #aeaeae;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
