@import 'src/styles/_all';

.upload-video-btn {
  width: 100%;
  color: $ds-text-color-button-main;
  background-color: $ds-color-button-main;
  font-size: 13px;
  border: none;
  border-radius: 7px;
  height: 40px;
  margin-top: 20px;
}
