@import 'src/styles/_all';

.title-input-area {
  color: $ds-color-text-secondary;
  display: flex;
  font-size: 13px;
  align-items: center;
  margin-bottom: 15px;
}

.note-area {
  color: $ds-color-text-secondary;
  font-size: 13px;
}

.title-input {
  width: 100%;
}

.now-datetime {
  white-space: nowrap;
}

.heading {
  margin-right: 5px;
}

.note-textarea {
  margin-top: 10px;
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  overflow: hidden;
}
