// theme colors
$ds-accent-color: #ffb154;

// Texts
$ds-color-text-regular: #343434;
$ds-color-text-muted: #707070;
$ds-color-text-secondary: #ffffff;
$ds-color-text-disabled: #a1a1a1;
$ds-color-text-blue: #3c377a;

// Buttons
$ds-color-button-main: #343434;
$ds-color-button-secondary: #ffffff;

// Tags
$ds-color-tag-pink: #ff5170;
$ds-color-tag-grey: #b5b5b5;
$ds-color-tag-green: #7fb666;
$ds-color-tag-yellow: #ffc149;

// Notifications
$ds-color-notification-pink: #ff5170;

// Icons
$ds-color-icon-main: #3c377a;
$ds-color-icon-background: #eaeaea;

// Input background
$ds-color-input-background: #f1f1f1;

$ds-color-background: #fafafa;
// bottom toolbar
$ds-color-bottom-nav-btn: #aeaeae;
$ds-color-bottom-nav-btn-active: #343434;

// side bar
$ds-icon-background-color: #eaeaea;
