::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
  padding-left: 0.75em !important;
  border-radius: 10px !important;
}

::ng-deep .mat-form-field-infix {
  border-top: none;
  padding: 0.5em 0 !important;
  display: flex !important;
}

::ng-deep .mat-select-arrow {
  color: transparent !important;
}

.input-label {
  font-size: x-small;
  color: #888888;
  padding-bottom: 5px;
}

.expand-icon {
  color: #a1a1a3;
}

.form-full-width {
  width: 100%;
  font-size: small;
  line-height: 2.125;
}
